<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="chat.css" />
</head>
<body>
    <div id="content">
        {{ content }}
    </div>
</body>
</html>
